*{
            text-decoration: none;
             list-style: none;
             margin: 0px;

        }
        :root{
            --header-color:rgb(212, 214, 214);
            --body-color: rgb(243, 238, 238);
        }
        @font-face{
            font-family: myfont1;
            src: url("fonts/StackSansText-VariableFont_wght.ttf");
        }
        body{
            margin: 0;
            display: flex;
            flex-direction: column;
            background-color: rgba(92, 92, 92, 0.356);
        }
        header{
            position: relative;
            border: 1px solid gray;
            padding: 10px;
            display: flex;
            align-items: center;
            background-color: rgb(212, 214, 214);
            height: 120px;
        }
        .top-bar{
            display: flex;
            width: 450px;
        }
        
        a{
            color: rgb(88, 87, 87);
            font-family: myfont1;
        }
        a:hover{
            list-style: none;
            display: inline-block;
            transition: transform .1s ease;
            transform: scale(1.3);
            border: none;
            border-radius: 10px;
            box-shadow: none;

        }
        ul{
            display: flex;
            /* margin-right:auto ;
            margin-left: auto;
            padding-left: auto;
            padding-right: auto; */
        }
        header img{
            height: 80px;
            width: 50px;
            border: none;
            border-radius: 10px;
            /* box-shadow: 1px 1px 2px black; */
            width: 100px;
            margin-left: 12px;
            background-color: rgba(255, 255, 255, 0.63);
            padding: 0px;

            
        }
        .dot{
            height: 7px;
            width: 50px;
            border: 1px solid gray;
            margin-top: 5px;
            background-color: gray;
            margin-block-end: 5px;
            transition: all 0.1 ease;
            box-shadow: 1px 1px 2px black;
        } 
        .hamburger{
            display: none;
            background-color: yellow;
            height: 50px;
            border: none;
            border-radius: 10px;
            box-shadow: 1px 1px 2px black;
        }
        .hamburger.clicked{
            background-color: rgb(254, 82, 82);
            border: none;
            border-radius: 10px;
            box-shadow: 1px 1px 2px black;
            
        }
        .hamburger.clicked :nth-child(1){
            display: none;
        }
        .hamburger.clicked :nth-child(2){
            transform: rotate(45deg) translateY(10px) translateX(13px);
            background-color: white;
            box-shadow: 1px 1px 2px black;
        }
        .hamburger.clicked :nth-child(3){
            transform: rotate(-45deg) translateY(4px);
            background-color: white;
            box-shadow: 1px 1px 2px black;
        }
        .top-bar.side-bar ul {
            margin-left: -200px;
            transition: transform 1s ease;
            transform: translateX(200px);
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            background-color: #dae6e1;
            border: none;
            border-radius: 10px;
            height: 100vh;
            width: 150px;
            opacity: 5px;
            box-shadow: 2px 4px 10px black;
            padding-left: 60px;
        }
        .top-bar.side-bar ul li{
            line-height: 20px;
            display: block;
            margin-top: 0px;
            margin-block-start: 50px;
            gap: 20px;
            
        }
        .top-bar.side-bar ul:first-child{
                margin-block-start: 0px;                
            }
        .top-bar.side-bar #sas{
                margin-block-start: 120px;
            }
         @media (min-width: 450px){
            header{
                width: 97%;
                border: 5px solid rgba(88, 87, 87, 0.555);
                border-radius: 7px;
                box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.555);
                position: relative;
                display: flex;
                flex-wrap: wrap;
            }
            
             ul{
                margin-left: 0px;
                visibility: hidden;
             }
             .name{
                height: 100px;
                width: 150px;
                font-size: 1.2rem;
                align-content: center;
                padding: 20px;
                position: absolute;
                left: 200px;
                font-family: myfont1;
                color: rgb(88, 87, 87);
                line-height: 30px;
            }
            .top-bar.side-bar ul {
                visibility: visible;
                display: flex;
                margin-left: -200px;
                transition: transform 1s ease;
                transform: translateX(190px);
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                background-color: #dae6e1;
                border: none;
                border-radius: 10px;
                height: 130vh;
                width: 150px;
                opacity: 5px;
                box-shadow: 2px 4px 10px black;
                padding-left: 60px;
                
            }
            
            
            .hamburger{
                display: block;
                position: absolute;
                right: 43px;
                margin-right: -20px;
                cursor: pointer;
            }
            .home{
                

                height: auto;
                width: auto;
                margin-top: 70px;
                margin-left: 50px;
                margin-right: 50px;
                background-color: rgb(243, 238, 238);
                border: 5px solid rgba(88, 87, 87, 0.555);
                border-radius: 15px;
                box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.486);
                display: flex;
                column-gap: 100px;
                flex-direction: column;
                justify-content: center;
                align-content: center;
            }
            .home .exp{
                height: auto;
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: rgb(0, 0, 0);
                margin-top: 60px;
            }
            .home .exp h1{
                font-family: myfont1;
                font-size: 3vw;
            }
            .home .exp p{
                font-family: myfont1;
                font-size: 2.1vw;
            }
            .home .exp button{
                font-family: myfont1;
                font-size: 2.1vw;
                background-color: var(--header-color);
                padding: 10px;
                border: none;
                border-radius: 7px;
            }
            .home .exp button:hover{
                transform: scale(1.1);
                transition: transform .1s ease;
                cursor: pointer;
            }

            .home .img {
                height: auto;
                width: 100%;
                display: flex;
                justify-content: center;
            }
            
            .home .img img{
                height: 40%;
                width: 50%;
                margin-right: 50px;
                margin-bottom: 10px;
                border-radius: 10%;
                
            }
            .skills{
                height: auto;
                width: auto;
                margin-top: 70px;
                margin-left: 50px;
                margin-right: 50px;
                background-color: rgb(243, 238, 238);
                border: 5px solid rgba(88, 87, 87, 0.555);
                border-radius: 15px;
                box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.486);
                display: flex;
                padding: 50px;
                gap: 50px;
                flex-direction: row;
                flex-wrap: wrap;
                font-family: myfont1;
                font-size: 1.5vw;

            }
            .skills .sub{
                flex: 45%;
                height: 300px;
                width: auto;
                background-color: rgb(255, 255, 255);
                border: 0px solid white;
                object-fit: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 2px 2px 4px black;
                border-radius: 10px;
            }
            .skills .sub:hover{
                transform: scale(1.1);
                transition: transform .1s ease;
            }
            .sub img{
                width: 50%;
                height: 50%;
                border-radius: 50%;
                /* margin-left: 75px; */
            }
            .sub img:hover{
                transform: scale(.8);
                transition: transform .1s ease;
            }
        }
        
        /* @media (max-width:1525px){
            .name{
                display: none;
            }
        }
        @media (max-width:1200px){
            .name{
                display: block;
            }
        } */
         
        @media (min-width: 1200px){
            header{
                width: 97%;
                border: 5px solid rgba(88, 87, 87, 0.555);
                border-radius: 7px;
                box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.555);
                position: relative;
                display: flex;
                flex-wrap: wrap;
            }
            ul{
                position: absolute;
                right: 0px;
                top: 0;
                padding: 60px;
                gap: 100px;
                margin-right: auto;
                margin-left: auto;
                padding-left: auto;
                padding-right: auto;
                font-size: 1.3rem;
                visibility: visible;
                width: auto;
            }
            .name{
                height: 100px;
                width: 400px;
                font-size: 1.7vw;
                align-content: center;
                padding: 20px;
                position: absolute;
                left: 200px;
                font-family: myfont1;
                color: rgb(0, 0, 0);
            }
            a{
                font-size: 1.2vw;
            }
            
            .hamburger{
                display: none;
                position: absolute;
                right: 90px;
            }
            .home{
                height: auto;
                width: auto;
                margin-top: 70px;
                margin-left: 200px;
                margin-right: 200px;
                background-color: rgb(243, 238, 238);
                border: 5px solid rgba(88, 87, 87, 0.555);
                border-radius: 15px;
                box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.486);
                display: flex;
                column-gap: 100px;
                flex-direction: row;
            }
            .home .exp{
                /* background-color: red; */
                height: 50vh;
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: rgb(0, 0, 0);
                margin-left: 100px;
                margin-top: 60px;

            }
            .home .exp h1{
                font-family: myfont1;
                font-size: 2.2vw;
                margin-right: 70px;
            }
            .home .exp p{
                font-family: myfont1;
                font-size: 1.1vw;
            }
            .home .exp button{
                font-family: myfont1;
                font-size: 1rem;
                background-color: var(--header-color);
                margin-right: 340px;
                padding: 10px;
                border: none;
                border-radius: 7px;
            }
            .home .exp button:hover{
                transform: scale(1.1);
                transition: transform .1s ease;
                cursor: pointer;
            }

            .home .img {
                /* background-color: rgb(0, 255, 98); */
                height: 70vh;
                width: 50%;
            }
            .home .img{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .home .img img{
                height: 70%;
                width: 60%;
                margin-right: auto;                
            }
            .skills{
                height: auto;
                width: auto;
                margin-top: 70px;
                margin-left: 200px;
                margin-right: 200px;
                background-color: rgb(243, 238, 238);
                border: 5px solid rgba(88, 87, 87, 0.555);
                border-radius: 15px;
                box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.486);
                display: flex;
                padding: 50px;
                gap: 50px;
                flex-direction: row;
                flex-wrap: wrap;
                font-family: myfont1;
                font-size: .8vw;

            }
            .skills .sub{
                flex: 26%;
                height: 300px;
                width: auto;
                background-color: rgb(255, 255, 255);
                border: 0px solid white;
                object-fit: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 2px 2px 4px black;
                border-radius: 10px;
            }
            .skills .sub:hover{
                transform: scale(1.1);
                transition: transform .1s ease;
            }
            .sub img{
                width: 50%;
                height: 50%;
                border-radius: 50%;
                /* margin-left: 75px; */
            }
            .sub img:hover{
                transform: scale(.8);
                transition: transform .1s ease;
            }
        }
       
        