*{
            text-decoration: none;
             list-style: none;

        }
        body{
            margin: 0;
        }
        header{
            position: relative;
            border: 1px solid gray;
            padding: 10px;
            display: flex;
            align-items: center;
            /* justify-content: space-between; */
            background-color: aqua;
            height: 50px;
        }
        .top-bar{
            display: flex;
            width: 450px;
        }
        
        
        a:hover{
            list-style: none;
            background-color: #dae6e1;
            /* padding: 2px; */
            /* font-size: 1.1em; */
            display: inline-block;
            transition: transform .2s ease;
            transform: scale(1.2);
            border: none;
            /* border-radius: 10px;
            padding: 2px; */

        }
        li a:hover{
            /* transition: transform 2s ease;
            transform: scale(10); */
            box-shadow: 1px 1px 2px black;
        }

        ul{
            display: flex;
            gap: 100px;
            margin-right:200px ;
            padding-left: 450px;
        }
        /* ul{
            position: absolute;
            height: 100vh;
            background-color: yellow;
            right: 5000px;
        } */
        img{
            /* z-index: 1; */
            height: 60px;
            width: 150px;
            border: none;
            border-radius: 10px;
            box-shadow: 1px 1px 2px black;
            opacity: .7;
        }
        .dot{
            height: 7px;
            width: 50px;
            border: 1px solid gray;
            margin-top: 5px;
            background-color: gray;
            margin-block-end: 5px;
            transition: all 0.1 ease;
            box-shadow: 1px 1px 2px black;
        }
        /* .button{
            cursor: pointer;
            border: none;
            position: relative;
        } */
        /* input{
            position: absolute;
            height: 50px;
            width: 700px;
            margin-left: 260px;
            display: none;
        } */
        
        
        /* .hamburger .side-bar{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: red;
            width: 200px;
            height: 100vh;
            border: none;
            border-radius: 10px;
        } */
        

        
        
        .hamburger{
            display: none;
            background-color: yellow;
            height: 50px;
            border: none;
            border-radius: 10px;
            box-shadow: 1px 1px 2px black;
        }
        .hamburger.clicked{
            background-color: rgb(254, 82, 82);
            border: none;
            border-radius: 10px;
            box-shadow: 1px 1px 2px black;
            
        }
        .hamburger.clicked :nth-child(1){
            display: none;
        }
        .hamburger.clicked :nth-child(2){
            transform: rotate(45deg) translateY(10px) translateX(13px);
            background-color: white;
            box-shadow: 1px 1px 2px black;
        }
        .hamburger.clicked :nth-child(3){
            /* transform: rotate(-45deg); */
            transform: rotate(-45deg) translateY(4px);
            background-color: white;
            box-shadow: 1px 1px 2px black;
        }
        .top-bar.side-bar ul {
            margin-left: -200px;
            transition: transform 1s ease;
            transform: translateX(200px);
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            background-color: #dae6e1;
            border: none;
            border-radius: 10px;
            height: 100vh;
            width: 150px;
            opacity: 5px;
            box-shadow: 2px 4px 10px black;
            padding-left: 60px;
            /* z-index: 2; */
            /* margin-top: -20px; */
            /* block-size: 50px; */
            /* margin-block-start: 50px; */
        }
        .top-bar.side-bar ul li{
            line-height: 20px;
            display: block;
            margin-top: 0px;
            margin-block-start: 50px;
            gap: 20px;
            
        }
        .top-bar.side-bar ul:first-child{
                /* display: block; */
                margin-block-start: 0px;
                /* margin-block-start: 50px; */
                
                
            }
        .top-bar.side-bar #sas{
                /* display: block; */
                margin-block-start: 120px;
                /* margin-block-start: 50px; */
                
                
            }
            
        @media (min-width: 425px){
            header{
                width: 460px;
            }
            /* .top-bar ul{
                display: none;
                height: 0;
            } */
             /* #sas{
                display: none;
             } */
            /* .top-bar #sas{
                display: none;
            } */
             ul{
                margin-left: 150px;
                /* display: none; */
             }
            .top-bar.side-bar ul {
                display: flex;
                margin-left: -200px;
                transition: transform 1s ease;
                transform: translateX(200px);
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                background-color: #dae6e1;
                border: none;
                border-radius: 10px;
                height: 100vh;
                width: 150px;
                opacity: 5px;
                box-shadow: 2px 4px 10px black;
                padding-left: 60px;
                /* z-index: 2; */
                /* margin-top: -20px; */
                /* block-size: 50px; */
                /* margin-block-start: 50px; */
            }
            
            /* ul{
                display: none;
                padding: 10px;
                gap: 20px;
            } */
            
            /* a{
                font-size: .8em;
            } */
            .hamburger{
                display: block;
                position: absolute;
                right: 43px;
                margin-right: -20px;
            }
        }
        @media (min-width: 600px){
            header{
                width: 700px;
            }
            ul{
                display: flex;
                padding: 90px;
                gap: 40px;
                margin-left: 100px;
            }
            
            /* a{
                font-size: .8em;
            } */
            .hamburger{
                display: none;
                position: absolute;
                right: 90px;
            }
        }
        @media (min-width: 900px){
            header{
                width: 900px;
            }
            ul{
                display: flex;
                /* padding: 179px; */
                gap: 85px;
                margin-left: 200px;

            }
            
            /* a{
                font-size: .8em;
            } */
            .hamburger{
                display: none;
                position: absolute;
                right: 90px;
            }
        }
        @media (min-width: 1400px){
            header{
                width: 1500px;
            }
            ul{
                display: flex;
                /* padding: 179px; */
                gap: 185px;
                /* margin-left: 400px; */
                /* padding-left: 10px; */
                margin-left: 250px;


            }
            
            /* a{
                font-size: .8em;
            } */
            .hamburger{
                display: none;
                position: absolute;
                right: 190px;
            }
        }